{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Info {{title}} </title>
    <link rel="stylesheet" href="{% static 'miapp/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'miapp/css/estilos.css' %}" />
  </head>
  <body>
    <div class="container text-center " style = "padding-top:20px" >
      <div class="row">
        <div class="col-1">
          <img src={% static 'miapp\img\Logo_UTFSM.png' %} class="rounded float-start" height =100px alt="...">
        </div>
        <div class="col-11 d-none d-sm-block" >
          <h1> Sitio Publico </h1>
          <hr class="hr" />
        </div>
      </div>
      <div class="">
        <div class="">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Administracion</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src={% static 'miapp\img\Enero.png' %} class= 200px alt="...">
            </div>
            <div class="carousel-item">
              <img src={% static 'miapp\img\Febrero.png' %} class= 200px alt="...">
            </div>
            <div class="carousel-item">
              <img src={% static 'miapp\img\Marzo.png' %} class= 200px alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Segmento
            </button>
            <ul class="dropdown-menu"> 
                {%for segmento_a_mostrar in total_segmentos%} 
                <li><a class="dropdown-item" href="#">{{segmento_a_mostrar.nombre}}</a></li>
                {%endfor%}
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tipo
            </button>
            <ul class="dropdown-menu"> 
                {%for tipos_a_mostrar in total_tipos%} 
                <li><a class="dropdown-item" href="#">{{tipos_a_mostrar.nombre}}</a></li>
                {%endfor%}
            </ul>
          </div>
        </div>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'miapp/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>